.contact {
    display: flex;
    height: 500px;
}

.contact-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin-top: 107px;
    margin-left: 113px;
}

.contact-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px; 
    margin-top: 60px;
}

.contact-boxtext {
    width: 434px;
    height: 64px;
    margin-left: 113px;
    margin-right: 50px;
}

.button {
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;
    color: white;

    width: 160px;
    height: 50px;
}

.box-form {
    width: 255px;
    height: 60px;
    padding-left: 31px;
    margin-top: 117px;
    margin-bottom: 24px;

    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;

    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-right: 30px;

    color: rgba(19, 39, 67, 0.5);
}

.Lbox-form {
    width: 540px;
    height: 60px;
    padding-left: 31px;
    margin-bottom: 24px;

    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;

    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);
}
