.main-button {
    color: white;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    padding-left: 29px;
    padding-top: 11px;
    padding-right: 28px;
    padding-bottom: 12px;
    text-decoration: none;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
}

.main-button.-second {
    background-color: white;
    color: #ED4C5C;
}